<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Abhyuday</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
      integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
      integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Cantarell&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Allura&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato&display=swap"
      rel="stylesheet"
    />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet"> 
    <link rel="icon" href="./images/logo.png" />
    <link rel="stylesheet" href="./css/navbar.css" />
    <link rel="stylesheet" href="./css/image-gallary.css" />
    <link rel="stylesheet" href="./css/notices.css" />
    <link rel="stylesheet" href="./css/footer.css" />
    <link rel="stylesheet" href="./css/index.css" />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <link rel="stylesheet" href="./css/team.css" />
    <link rel="stylesheet" href="./css/events.css" />
    <link rel="stylesheet" href="./css/gyansagar.css" />
    <link rel="stylesheet" href="./css/reachus.css" />
    <link rel="stylesheet" href="./css/footer.css" />
    
  </head>

  <body class="bg-main" id="top">
    <!-- Nav-bar  -->
    <%-include('partials/navbar')%>

    <!-- Image Gallary  -->
    <%-include('partials/image-gallary')%>

    <!-- Events  -->
    <%-include('partials/events')%>

    <!-- Gyansagar  -->
    <%-include('partials/gyansagar')%>

    <!-- Reach Us  -->
    <%-include('partials/reachus')%>
    
    <!-- Footer  -->
    <%-include('partials/footer')%>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
      integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script>
      var $owl = $(".owl-carousel");

      $owl.children().each(function (index) {
        $(this).attr("data-position", index);
      });

      $owl.owlCarousel({
        center: true,
        items: 1,
        loop: true,
        dots: true,
        margin: 500,
        autoplay: true,
        autoplayTimeout: 3000,
        smartSpeed: 750,
        responsiveClass: true,
        responsive: {
          0: {
            items: 1,
          },
        },
      });

      $(document).on("click", ".owl-item>div", function () {
        var $speed = 300;
        $owl.trigger("to.owl.carousel", [$(this).data("position"), $speed]);
      });
    </script>
  </body>
</html>
